main {
  margin: auto;
  width: 50%;
  border: 3px solid #4caf50;
  padding: 10px;
  text-align: center;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

button {
  display: block;
  margin: 1em auto;

  bottom: 30px;
  width: 200px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 5px 4px #888888;
  border-radius: 8px;
}

.start-button {
  display: none;
}

.show-start-button {
  display: block;
}

canvas { width: 100%; height: 100%; }

@media (max-width: 600px){
  main {
    width: 90%;
  }
  .three-coin {
    height: 20em; /*Without this coin is too small on mobile devices*/
  }
}